@import url("./bulma-no-dark-mode.min.css");
@import url("./navbar.css");
@import url("./canvas.css");
@import url("./fonts.css");
* {
  scroll-behavior: smooth;
  transition: all 0.3s ease-out;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Roboto", sans-serif;
  padding-top: 15vh;
  background: #eeeff2;
}
div.header {
  padding: 0.75em;
  margin: 0.25em;
}
p {
  line-height: 18px;
}
div#navbar {
  margin-top: 5em;
  z-index: 2;
}
div#navbar button {
  font-family: "Poppins", sans-serif;
  border: none;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin:3px;
  font-weight: 600;
}
button {
  margin-top: 3px;
}
#listQrisCanvas {
  padding: 5px;
}
#canvasBtn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-content {
  padding: 2em;
}
.modal-content .card {
  padding: 1.5em !important;
}
#loginFirst {
  padding: 1em;
}
div#dataTersimpan {
  width: 100%;
  overflow: scroll;
  word-wrap: break-word;
  font-size: 14px;
  color: #d1d1d1;
  background: #fff !important;
}
.msg {
  font-size: 14px;
  text-align: center;
}
.is-danger {
  background: #b43327;
  color: white;
}
.buttonBawah {
  display: flex;
  justify-content: center;
  
}
.buttonBawah button {
  margin: 5px;
  width: 30vw;
}